.header {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 20px;
  width: 100%;
  font-weight: 500;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.albumImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 1rem;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 2.5rem;
  text-align: left;
}

.title {
  font-size: 2rem;
  text-align: left;
  font-weight: 700;
  letter-spacing: -0.15rem;
}

.artist {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: -0.07rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;
  max-width: 50%;
  min-height: 10rem;
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
}

.secondary {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .albumImage {
    width: 150px;
    height: 150px;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .headerInfo {
    padding-left: 0;
    gap: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .artist {
    font-size: 1.2rem;
  }

  .infoWrapper {
    font-size: 1rem;
    font-weight: 400;
  }
}
