.albumItem {
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  padding: 1rem;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  -webkit-tap-highlight-color: #1e1e1e;
}

.albumItem:hover {
  background-color: #1e1e1e;
}

.albumItem img {
  width: 5rem;
  height: 5rem;
  border-radius: 0.25rem;
}

.left {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.rankContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 6.3rem;
  height: 5rem;
}

.rankContainer > :last-child {
  opacity: 0.5;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40vw;
  font-size: 1.1rem;
  letter-spacing: -1px;
  font-weight: 500;
  white-space: nowrap;
  -webkit-text-size-adjust: 100%;
}

.mainInfo h2 {
  margin-bottom: 0.5rem;
  line-height: 1.75;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainInfo p {
  padding-top: 0.625rem;
  opacity: 0.5;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subInfo {
  display: flex;
  margin-left: auto;
  letter-spacing: -1px;
  line-height: 1.2;
  font-weight: 500;
}

.subInfo > * {
  margin-left: 1rem;
  text-align: center;
  width: 7rem;
}

@media (max-width: 768px) {
  .albumItem {
    padding: 0;
  }

  .albumItem img {
    width: 3rem;
    height: 3rem;
    border-radius: 0.25rem;
  }

  .subInfo {
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
  }

  .subInfo > * {
    margin-left: 0;
    text-align: right;
    width: 7.5rem;
  }

  .rankContainer,
  .mainInfo {
    min-width: 3rem;
    font-size: 1rem;
  }

  .mainInfo {
    width: 50vw;
  }

  .mainInfo h2 {
    margin-bottom: 0;
  }
}
