.chartFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.chartFilter select,
.chartFilter input {
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .chartFilter select,
  .chartFilter input {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}
