.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: -0.075rem;
}

.updated {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.025rem;
  opacity: 0.5;
}

ul {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .header {
    font-size: 1.5rem;
  }

  .updated {
    font-size: 0.7rem;
  }
}
